{% extends 'base.html.twig' %}

{% block body %}
    <div class="mt-5 pt-5">
      <p class="display-1 text-center">
        Resto...
      </p>
      <br />
      <br />
        <div class="text-center">
          <h4>
            Bienvenue dans le resto le plus fou de tout les temps...<br />
            On fait des pizzas et des sushis et des tacos et des gauffres et des
            burgers et des churros. <br />
            On fait d'autres choses, regardez nos menus ce sera plus simple.
          </h4>
          <br />
          <br />
          <div class="row">
          <div class="col"></div>
            <a class="btn btn-outline-light col w-auto" href="/menus" role="button">Menus</a>
          <div class="col"></div>
          </div>
          <br />
          <br />
          <br />
          <br />
          <h2>
            🍴 Bon appétit 🍴
          </h2>
        </div>
      </div>
    </div>
{% endblock %}
