{% extends 'base.html.twig' %}

{% block body %}
{% for menu in menus %}
<br><br>
<a href="{{ path('menu_show', {'id':menu.id}) }}">
    <h1> {{menu.nomPlat}} </h1>
    <div class="row">
        <img src="{{menu.image}}" alt="{{menu.nomPlat}}" class="col w-25">
        <h3 class="float-right col">
            {{menu.description | raw}} 
            <br><br><br><br><br> 
            Prix : {{menu.prix}} €
        </h3>
    </div>
</a>
<br><br>

{% endfor %}
{% endblock %}
