{% extends 'base.html.twig' %}

{% form_theme formMenu 'bootstrap_4_layout.html.twig' %}

{% block body %}
  <br /><br />
  <h1 class="text-center">
    Création de menu
  </h1>
  <br /><br />

  <div class="text-center row">
    <div class="col"></div>
    <div class="col">
      {{ form_start(formMenu) }}

      {{ form_widget(formMenu) }}
        
      <button type="submit" class="btn btn-lg btn-secondary">
        {% if editMode %}
            Enregistrer les modifications
        {% else %}
            Ajouter le plat
        {% endif %}
      </button>

      {{ form_end(formMenu) }}
    </div>
    <div class="col"></div>
  </div>
{% endblock %}
