{% extends 'base.html.twig' %}

{% form_theme formClient 'bootstrap_4_layout.html.twig' %}

{% block body %}
        <br /><br />
        <h1 class="text-center">
            Réservation de repas
        </h1>
        <br /><br />

        <div class="text-center row">
            <div class="col"></div>
            <div class="col">
            {{ form_start(formClient) }}

            {{ form_widget(formClient) }}
                
            <button type="submit" class="btn btn-lg btn-secondary">
                Commander
            </button>

            {{ form_end(formClient) }}
            </div>
            <div class="col"></div>
        </div>
{% endblock %}