{% extends 'base.html.twig' %}

{% block body %}
<br><br><br>
<h1 class='text-center'> {{menu.nomPlat}} </h1>
<br><br><br>
<img src="{{menu.image}}" alt="{{menu.nomPlat}}" class="float-right w-50">
<br><br><br>
<h3>
    {{menu.description | raw}}
<br><br><br>
    Ingrédients : <br> {{menu.ingredients | raw}}
<br><br><br>
    Prix : {{menu.prix}} €
</h3>
<br>
{% if not app.user %}
<a href="{{ path('menu_reserv', {'id':menu.id}) }}" class="btn btn-success">Réserver le plat</a>
{% else %}
<a href="{{ path('menu_edit', {'id':menu.id}) }}" class="btn btn-success">Editer le plat</a>
{% endif %}
{% endblock %}
