<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}
        Resto...
      {% endblock %}
    </title>
    <link rel="stylesheet"
      href="https://bootswatch.com/4/darkly/bootstrap.min.css" />
    {% block stylesheets %}

    {% endblock %}
  </head>
  <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="/">Resto...</a>
          <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarColor02"
            aria-controls="navbarColor02"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/menus">
                  Menus <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">AAaa</a>
              </li>
              <li class="nav-item"><a class="nav-link" href="#">Pricing</a></li>
                {% if not app.user %}
              <li class="nav-item"><a class="nav-link" href="/login">Conn. Admin</a></li>
                {% else %}
              <li class="nav-item"><a class="nav-link" href="/logout">Déconnexion</a></li>
                {% endif %}
            </ul>
          </div>
        </nav>
    {% block body %}
    {% endblock %}
    {% block javascripts %}

    {% endblock %}
  </body>
</html>
